{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block stylesheets%}
    <link href="{{ asset('assets/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/new-annonce.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
        <div class="wrapper">
            <div class="container-home">
                {{ block('homepage', 'home_page_admin/index.html.twig') }}
            </div>
            <div class="container-annonce">
                 <h1>Créer une nouvelle annonce</h1>
                    <div class="new-wrapper">
                    {{ include('annonce/_form.html.twig') }}
                    </div>


            </div>
        </div>
{% endblock %}
